@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'compass';
@include global-reset;
@font-face {
    font-family: 'hero_light';
    src: url('../fonts/hero-light/hero_light-webfont.woff2') format('woff2'),
         url('../fonts/hero-light/hero_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'BanglaMN';
  src: url('../fonts/bangla/BanglaMN.eot') format('embedded-opentype'),
	   url('../fonts/bangla/BanglaMN.ttf')  format('truetype'), 
	   url('../fonts/bangla/BanglaMN.svg#BanglaMN') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*** return em ***/
$browser-context: 16;
@function em($pixels, $context: $browser-context){
	@if (unitless($pixels)){
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	@return $pixels / $context * 1em;
}
/****** media queries mixin ******/
/*** break points ***/
$breakPt--sm: em(768);
$breakPt--md: em(992);
$breakPt--lg: em(1200);
/*** mixin ***/
@mixin respond-to($media){
	@if $media == sm-screen{
		@media only screen and (min-width: $breakPt--sm){
			@content;
		}
	} @else if $media == md-screen{
		@media only screen and (min-width: $breakPt--md){
			@content;
		}
	} @else if $media == lg-screen{
		@media only screen and (min-width: $breakPt--lg){
			@content;
		}
	}
}
/*** alpha attribute ***/
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}