.carousel{
	&--quick{

	}
	&--quick__img{
		width: em(90);
		height: em(90);
		img{
			width: 100%;
			height: auto;
		}
	}
	&--suggestion{
		@extend .col-xs-12, .col-sm-offset-1, .col-sm-10;
		margin-top: $el__spacer--sm;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__item{
		margin-right: em(20);
	}
}