.contact-info{
	&__title{
		font-family: $secondary__font-family;
		@include adjust-font-size-to(22px);
		text-transform: uppercase;
		word-spacing: em(2);
		color: $color__grey;
	}
	&__details{
		// margin-left: $el__spacer--xs;
	}
	&__social{
		margin-top: $el__spacer--lg;
		// margin-left: $el__spacer--xs;
		padding-top: $el__spacer--xs;
		border-top: 1px solid $color__grey;
	}
}